<table>
  <thead>
    <tr>
      <th>By</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |b| %>
    <tr>
      <td><%= image_tag b.user.get_profile_image(100, 100) %></td>
      <td><%= b.title %></td>
      <td><%= b.body %></td>
      <% if b.user == current_user %>
      <td>(edit)</td>
      <td>(destroy)</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
